@model ContactModel
@{
    ViewData["Title"] = "Registrar novo contato";
}

<div class="text-center">
    <h1 class="display-4">Registrar contato</h1>
</div>

<form asp-controller="Contact" asp-action="RegisterAction" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Nome do contato">
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group col-md-6">
            <label for="email">E-mail</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="E-mail para contato">
            @Html.ValidationMessageFor(x => x.Email)
        </div>

        <div class="form-group col-md-6">
            <label for="celular">Celular</label>
            <input type="text" asp-for="Phone" class="form-control" placeholder="Celular para contato">
            @Html.ValidationMessageFor(x => x.Phone)
        </div>

        <div class="form-group col-md-6 d-flex">
            <input type="text" asp-for="CEP" class="form-control" placeholder="Cep">
            @Html.ValidationMessageFor(x => x.CEP)
            <button type="submit" class="btn btn-outline-secondary" asp-controller="Contact" asp-action="CepConsultRegisterAction" role="button">Consultar</button>
        </div>

        <div class="form-group col-md-6">
            <label for="Address">Endereço</label>
            <input type="text" asp-for="Address" class="form-control" placeholder=". . . " readonly class="form-control-plaintext">
            @Html.ValidationMessageFor(x => x.Address)
        </div>

        <div class="row"> 
            <div class="form-group w-25 p-3">
                <label for="Number">Numero</label>
                <input type="text" asp-for="Number" class="form-control" placeholder=". . .">
            </div>

            <div class="form-group w-25 p-3">
                <label for="Complement">Complemento</label>
                <input type="text" asp-for="Complement" class="form-control" placeholder=". . .">
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="estado">Estado</label>
            <input type="text" asp-for="Region" class="form-control" placeholder=". . ." readonly class="form-control-plaintext">
        </div>

        <div class="form-group col-md-6">
            <label for="cidade">Cidade</label>
            <input type="text" asp-for="City" class="form-control" placeholder=". . ." readonly class="form-control-plaintext">
        </div>

    </div>    
    <br />
    <button type="submit" class="btn btn-primary" asp-controller="Contact" asp-action="RegisterAction">Confirmar</button>
    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index" role="button">Voltar</a>
</form>